body{
    display: flex;
    flex-direction: column;
}
.navigation{
    order: 1;
    padding: 15px;
    display: flex;
    flex-direction: vertical;
    background-color: pink;
    border: dashed;
}
article{
    display: inline-block;
}
header{
    display: flex;
    align-content: flex-start;
    order: 0;
    border: 5px solid black;   
    background-color: greenyellow;
}
footer{
    display: flex;
    order: 5;
    background-color: #00539F;
    border: 5px solid black;    
}
main{
    background-color: yellow;
    border: dotted;
}