header{
    display: flex;
    align-content: flex-start;
    order: 0;
    border: 5px solid black;   
    background-color: greenyellow;
    flex-basis: max content;
}
main{
    order: 1;
    display:flex;
    background-color: yellow;
    justify-content: flex-end;
    border: dotted;
    flex-basis: max content;
}
.navigation{
    order: 1;
    padding: 15px;
    display: flex;
    background-color: pink;
    border: dashed;
    float: left;
    flex: 1;

}
footer{
    display: flex;
    order: 5;
    background-color: #00539F;
    border: 5px solid black;    
}